/* typography */

.section-title {
    color: hsla(169, 100%, 16%, 1);
    font-size: 1.875rem;
  }

/* //////////////////////
  Homepage
  /////////////////////// */

.hero > div {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    align-items: center;
    gap: 3em;
  }
  
  .hero__image {
    width: 100%;
    /* max-height: max(15rem, 40vh); */
    object-fit: cover;
  }
  
  @media (min-width: 45em) {
    .hero > div {
      grid-auto-flow: column;
    }
  }

  /* //////////////////////
  Utility Classes
  /////////////////////// */

/* select all direct childen of .flow
   and add margin to the top for proper
   spacing */

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-spacer, 1em);
  }
  
  .container {
    margin-inline: auto;
    padding-inline: 1.5em;
    max-width: 72rem;
  }
  .container {
    margin-inline: auto;
    padding-inline: 1.5em;
    max-width: 72rem;
  }

  .flex-group {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap, 1em);
  }


  /* //////////////////////
  Article snippets
  /////////////////////// */

  .btn {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    padding: 0.75em 1.75em;
    border-radius: 0.25em;
    align-self: start;
    justify-self: start;
  }

  .btn--primary {
    background: hsla(169, 100%, 26%, 1);;
    color: hsla(0, 0%, 100%, 1);
    font-weight: 700;
    border: 2px solid hsla(169, 100%, 26%, 1);
  }
  .btn--primary:hover,
  .btn--primary:focus {
    background: hsla(0, 0%, 60%, 1);
    border-color: hsla(169, 100%, 16%, 1); 
  }
  
  .btn--neutral {
    background-color: hsla(0, 0%, 100%, 1);
    color: hsla(0, 0%, 10%, 1);
    font-weight: 700;
    border: 2px solid hsla(0, 0%, 10%, 1);
  }
  
  .btn--neutral:hover,
  .btn--neutral:focus {
    color: hsla(0, 0%, 100%, 1);
    background-color: hsla(0, 0%, 100%, 1);
  }